/*********************** Robot ***********************/

@keyframes scaleIn {
  0% {
    transform: scale(0.2);
  }
  85% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h2 {
  font-size: 10rem;
  font-family: "fira Sans", sans-serif;
  color: #dcf2b0;
  text-shadow: 3px 3px 0px #59c3c3;
  transform-origin: 50% 0%;
  animation: wiggle 0.6s infinite cubic-bezier(0.65, 0, 0.35, 1);
  margin-left: 80px;

  animation-name: scaleIn;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(900px);
  }
}

/*********************** Robot ***********************/
.robot {
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}
@keyframes move {
  100% {
    transform: translateX(700%);
  }
}

/********************** Typing ************************/

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

h1 {
  animation: typing 3s steps(14), blinking 0.5s steps(1) infinite;
  color: #433f55; /* background color */
  font-family: "Fira Mono", monospace;
  overflow: hidden;
  border-right: 0.15em solid #ce2d4f;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}

@keyframes blinking {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #ce2d4f;
  }
}

@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

body {
  padding-top: 5em;
  background: #cfcfcf;
  display: flex;
  justify-content: center;
}

/********************** BINARYVILLE ************************/

.cloud01 {
  animation: float 25s linear infinite;
}

.cloud02 {
  animation: float 30s 5s linear infinite backwards;
}

@keyframes float {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(820px);
  }
}

/* Other styles  */

body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 800px;
  height: 650px;
  overflow: hidden;
  position: relative;
}

.city,
.cloud {
  position: absolute;
}

.city {
  z-index: 100;
}

.cloud02 {
  top: 76px;
}
.cloud01 {
  top: 30px;
}

img.cloud {
  width: 150px;
}
.city img {
  width: 100%;
}

/****************** SANDWICH ***************/
.sticker {
  animation: rotate 10s linear infinite;
  animation-play-state: paused;
  transform-origin: center;
}
.sticker:hover {
  animation-play-state: running;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
/* other styles */
img {
  width: 200px;
  margin-top: 10px;
}

/******************** Branch: 03-03b ********************/

h2 {
  margin: 0;
  font-size: 7em;
  font-weight: 900;
  text-align: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

@keyframes flipUp {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes flipDown {
  to {
    transform: rotateX(-180deg);
  }
}

span {
  animation: flipUp 1s cubic-bezier(0.34, 1.56, 0.64, 1) both,
    flipDown 1s cubic-bezier(0.34, 1.56, 0.64, 1) 2.75 forwards;
  transform-origin: 50% 70%;
}

span:nth-child(2) {
  margin-right: 0.15em;
  animation-delay: 0.2s, 2.95s;
}

span:nth-child(3) {
  margin-right: 0.15em;
  animation-delay: 0.4s, 3.15s;
}

span:nth-child(4) {
  animation-delay: 0.6s, 3.35s;
}

span:nth-child(5) {
  animation-delay: 0.8s, 3.55s;
}

span:nth-child(6) {
  animation-delay: 1s, 3.75s;
}

span:nth-child(7) {
  animation-delay: 1.2s, 3.95s;
}

/* other styles */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@900&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  background: #2c333a;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

span {
  display: inline-block;
  color: #77c6bc;
}

span:nth-child(2n) {
  color: #95b8cb;
}
